# Documentation build dependencies (run from docs directory: pip install -r requirements.txt)
# Then build: mkdocs build

mkdocs-material[imaging]
pymdown-extensions
mkdocs-mermaid2-plugin
mkdocs-static-i18n
